.page[b-zjan8nnci3] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-navbar[b-zjan8nnci3] {
    width: 100%;
    background: darkgray;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.3rem ;
}

main[b-zjan8nnci3] {
    flex: 1;
    background-color: #f8fafc;
    padding-top: 72px; /* Offset for fixed navbar */
    overflow-y: auto;
    animation: fadeIn-b-zjan8nnci3 0.5s ease-out;
}

@keyframes fadeIn-b-zjan8nnci3 {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
